name: Pipeline
on:
  push:
    branches: [ main ]
env:
  GITHUB_WORKFLOW_URL: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
jobs:      
  pipeline:
    if: github.event.head_commit.message == 'deploy'
    runs-on: ubuntu-latest
    steps:
    - name: Build Docker Image
      id: docker_build
      run:  docker build . --file Dockerfile --tag kaniko2:cdns-development-$(echo ${GITHUB_SHA} | cut -c1-8)

    - name: Show Images
      run : docker images


