name: Pipeline
on:
  push:
    branches: [ main ]
env:
  GITHUB_WORKFLOW_URL: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
jobs:      
  pipeline:
  
    runs-on: ubuntu-latest
    steps:
    - name: Build Docker Image
      id: docker_build
      run:  docker build . --file Dockerfile --tag kaniko1:cdns-development-$(echo ${GITHUB_SHA} | cut -c1-8)

    - name: Show Images
      run : docker images

    - name: Log into Docker.IO
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Push image
      run : docker push kaniko1 --all-tags


