name: Pipeline
on:
  push:
    branches: [ main ]
jobs:
  build2:
    if: github.event.head_commit.message == 'kaniko2' 

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master 
      - name: Kaniko build
        uses: aevea/action-kaniko@master
        with: 
          build_file: .
          cache: true
          cache_registry: aevea/cache
  build:
    if: github.event.head_commit.message == 'kaniko' 

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/metadata-action@v3 
        id: metadata
        with:
          images: ghcr.io/${{ github.repository }}
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: int128/kaniko-action@v1
        with:
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache: true
          cache-repository: ghcr.io/${{ github.repository }}/cache

      - name: Build Docker Image
        id: docker_build
        run:  docker build . --file Dockerfile --tag kaniko1:cdns-development-$(echo ${GITHUB_SHA} | cut -c1-8)
      - name: Show Images
        run : docker images

